.widget-container {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1rem;
    border-radius: 5px;
    background: black;
    color: white;
    min-height: 20%;
    min-width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: bold;
}

.widget-label {
    padding: 0 1rem 1rem;
}

.widget-phone-number {
    padding: 0.2rem 1rem;
    border-radius: 10px;
    background: #4ed44e47;
    color: lime;
}